.slider {
  /* iOS-style switch */
  --width: 38px;
  --height: 22px;
  --pad: 2px;
  --knob: calc(var(--height) - 2 * var(--pad));
  --color-off: hsl(0, 0%, 80%);
  --color-on: hsl(142, 71%, 45%);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  flex: 0 0 var(--width); /* ensuring min/max width */
  width: var(--width);
  height: var(--height);
  border-radius: var(--height);
  background: var(--color-off);
  transition: background-color .2s ease;
  display: inline-flex;
  align-items: center;
  padding: var(--pad);
  cursor: pointer;
  box-sizing: border-box;
  &::after {
    content: "";
    width: var(--knob);
    height: var(--knob);
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    transition: transform .2s ease;
    transform: translateX(0);
  }
  &:checked {
    background-color: var(--color-on);
    &::after {
      transform: translateX(calc(var(--width) - var(--knob) - 2 * var(--pad)));
    }
  }
  &:focus:not([data-focused-via-click]) {
    box-shadow: var(--focus-shadow);
  }
  :root[data-ui-theme="dark"] & {
    --color-off: hsl(0, 0%, 38%);
    --color-on: hsl(142, 65%, 42%);
  }
}
